<!-- Target for toggling the navbar `.navbar-checkbox` is for regular
     styles, `#navbar-checkbox` for behavior. -->
<input type="checkbox" class="navbar-checkbox" id="navbar-checkbox">

<!-- Toggleable navbar -->
<div class="navbar" id="navbar">
  <div class="navbar-item">
    <img src="/images/Viraat.jpg" alt="Viraat Aryabumi">
    <p>Viraat Aryabumi</p>
  </div>

  <nav class="navbar-nav">
    <a class="navbar-nav-item" href="/"><i class="fa fa-home"></i> &nbsp;Home</a>
    <a class="navbar-nav-item" href="/#archive"><i class="fa fa-archive"></i> &nbsp;Archive</a>
    <a class="navbar-nav-item" title="About" href=""><i class="fa fa-info-circle"></i> &nbsp;About</a>
    <a class="navbar-nav-item" title="Resume" href="/resume/viraat_aryabumi.pdf"><i class="fa fa-paperclip"></i> &nbsp;Resume</a>
    <a class="navbar-nav-item" title="My Projects" href="/projects/"><i class="fa fa-rocket"></i> &nbsp;Projects</a>
    <a class="navbar-nav-item" title="Contact Me" href="mailto:viraat94@gmail.com"><i class="fa fa-paper-plane"></i> &nbsp;Contact</a>
    <a class="navbar-nav-item" title="Books" href="/"><i class="fa fa-book"></i> &nbsp;Books</a>
  </nav>

  <div class="navbar-item">
    <p>
      <a href="https://github.com/var7/var7.github.io" title="Source Code">
         <i class="fa fa-code"></i> &nbsp; Source
      </a>
    </p>
  </div>
</div>