<!-- Target for toggling the navbar `.navbar-checkbox` is for regular
     styles, `#navbar-checkbox` for behavior. -->
<input type="checkbox" class="navbar-checkbox" id="navbar-checkbox">

<!-- Toggleable navbar -->
<div class="navbar" id="navbar">
  <div class="navbar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="navbar-nav">
    <a class="navbar-nav-item" href="/">Home</a>
    <a class="navbar-nav-item" href="/archive.html">Archive</a>
    <a class="navbar-nav-item" title="About" href="http://about.me/n3m0">About</a>
    <a class="navbar-nav-item" title="Resume" href="/resume.pdf">Resume</a>
    <a class="navbar-nav-item" title="My Projects" href="/projects/">Projects</a>
    <a class="navbar-nav-item" title="Contact Me" href="/contact/">Contact</a>
    <a class="navbar-nav-item" title="RSS Feed" href="/atom.xml">RSS</a>
  </nav>

  <div class="navbar-item">
    <p>
      <a href="https://github.com/captn3m0/captn3m0.github.com" title="Source Code">
          Source
      </a>
    </p>
  </div>
</div>