<!-- Target for toggling the navbar `.navbar-checkbox` is for regular
     styles, `#navbar-checkbox` for behavior. -->
<input type="checkbox" class="navbar-checkbox" id="navbar-checkbox">

<!-- Toggleable navbar -->
<div class="navbar" id="navbar">
  <div class="navbar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="navbar-nav">
    <a class="navbar-nav-item" href="/">Home</a>
    <a class="navbar-nav-item" href="/#archive">Archive</a>
    <a class="navbar-nav-item" title="About" href=""><i class="fa fa-info-circle"></i>About</a>
    <a class="navbar-nav-item" title="Resume" href="/resume/viraat_aryabumi.pdf"><i class="fa fa-paperclip"></i> Resume</a>
    <a class="navbar-nav-item" title="My Projects" href="/projects/"><i class="fa fa-rocket"></i>Projects</a>
    <a class="navbar-nav-item" title="Contact Me" href="mailto:viraat94@gmail.com"><i class="fa fa-paper-plane">Contact</a>
    <a class="navbar-nav-item" title="Books" href="/">Books</a>
  </nav>

  <div class="navbar-item">
    <p>
      <a href="https://github.com/var7/var7.github.io" title="Source Code">
          Source
      </a>
    </p>
  </div>
</div>