.book-container {
	width: 50%;
	padding: 40px 0;
	margin: 0px auto;
	font-family: $clavo;
	.line {
		color: #3e8dbe;
		margin: 20px 0px;
		span {
			background:lighten(#3e8dbe, 30%);
		}
	}
	h2 {
		color: $teal;
		text-align: center;
	}
	h5 {
		font-size: $fss*1.1;
		color: $teal;
	}
}
.back {
		position: fixed;
		top: 40px;
		left: 40px;
		a:hover {
			color: $flat-pink;
		}
	}