@media (max-width: 480px) {
	ul {
		padding-left: 30px;
	}
	blockquote {
		font-size: 16px;
	}
	.foot {
		width: 100%;
		.foot-wrap {
			width: 100%;
			font-size: 13.8px;
			padding: 10px 0;
		}
	}
	.credits {
		display: none;
	}
	.down {
		display: none;
	}
	.wid > span {
		width: 15%;
	}
	.post { 
		.post-content{
			padding: 0px 13px;
			font-size: 16px;
		}
		.back {
			position: fixed;
			left: 12px;
			top: 20px;
		}
	}
	.post .post-header {
		p.post-meta{
			font-size: 11.8px;
			padding: 0px 10px;
		}
		h1.post-title{
			font-size: 27px;
		}
	}
	.comment-box {
		padding: 10px 13px;
	}
	.tagged {
		width: 95%;
		.tag-wrap{
			padding: 20px 20px;
			h3 {
				font-size: 20px;
			}
			ul li { 
				.archive_list_article_link{
					font-size: 17px;
				}
				time {
					font-size: 11.8px;
				}
			}
		}
	}
	.blog-section {
		.blog {
			width: 96%;
			padding: 40px 5px 40px;
			.content{
				padding: 0px 15px 25px;
				float: none;
				width: 100%;
				.line {
					padding-top: 20px;
					margin-top: 0px;
				}
				p a {
					font-size: $fss;
				}
				time {
					font-size: $fss*0.8125;
				}
				.content-excerpt{
					font-size: $fss*0.9375;
					a:hover {
						color: $flat-pink;
						text-decoration: none;
					}
				}
			}
			.sidebar{
				margin: 20px auto 0px;
				float: none;
				width: 85%;
				p {
					font-size: $fss;
				}
			}
		}
	}
	.not-found {
    width: 95%;
    margin: 80px auto;
    h1 {
        font-size: 100px;
    }
    h3 {
        font-size: 22px;
    }
    h5 {
        padding-bottom: 30px;
        font-size: 16px;
    }
	}
	.book-container {
		width: 87%;
	}
	.back {
			position: fixed;
			left: 12px;
			top: 20px;
		}
}

