/* implementation by scott.io */
#site-wrapper {
position: relative;
overflow: hidden;
width: 100%;

height: 100%; /* Temp: Simulates a tall page. */
}
#site-canvas {
width: 100%;
height: 100%;
position: relative;
-webkit-transform: translateX(0);
transform: translateX(0);
-webkit-transition: .3s ease all;
transition: .3s ease all;

padding: 5% 0; /* Temp: Just spacing. */
}
#site-menu {
width: 300px;
height: 100%;
position: absolute;
top: 0;
left: -300px;
background: $black-gray;
padding: 15px;
}
#site-menu p{
  text-align: center;
  color: $flat-pink;
  font-weight: 150%;
  font-size: $fss*1.5;
  font-family: $proxima-c;
}
#site-wrapper.show-nav #site-canvas {
-webkit-transform: translateX(300px);
transform: translateX(300px);
}
#big-sexy {
  color: $m-blue;
  backgroud: #fff;
}
#varphoto {
  border-radius: 10%;
  border-width: 5px $d-gray;
  width: 300px;
  height: 280px;
}
.menu-items {
  color: $l-blue;
  a {
    font-size: $fss*1.3;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
  li {
    margin: 10px;
    border-bottom: 1px solid $fb-blue;
    overflow-x:hidden;

  }
}