.post {
	max-width: 680px;
	margin: 0px auto;
	padding: 90px 0px;
	.post-header {
		text-align: center;
		font-family: $clavo;
		color: $m-blue;
		h1.post-title {
			font-size: $fss*1.8;
			margin: 0px auto 7px;	
		}
		p.post-meta {
			font-size: $fss*0.8;
			margin-bottom: 7px;
			a.teg {
				color: $flat-pink;
			}
		}
	}
	.line {
		color: $m-green;
		span{
			background-color: lighten($m-green, 40%);
		}
	}
	.post-content {
		padding: 0px 30px;
		font-size: $fss*1.0625;
		h3 {
			margin: 10px 0px;
			font-size: 22px;
		}
	}
	.share{
		text-align: center;
		#widget{
			width: 80px;
		}
		.fb-share-button {
			position: relative;
			bottom: 5px;
		}
	}
	.back {
		position: fixed;
		top: 40px;
		left: 40px;
		a:hover {
			color: $flat-pink;
		}
	}
	ul {

		padding-left: 20px;
		color: $teal;
		margin-bottom: 4px;
		font-size: 14.5px;
	}
}

.comment-box {
	padding: 10px 30px;
}


/* ** Tags ** */

.tagged {
	width: 50%;
	height: 95%;
	margin: 0px auto;
	padding: 40px 0px;
	.tag-wrap {
		padding: 20px 40px;
		font-family: $clavo;
		h3 {
			text-align: center;
			color: $teal;
		}
		.line {
			margin: 10px 0;
			span {
				background-color: lighten($m-green, 40%);
			}
		}
		ul {
			margin-top: 30px;
			list-style: none;
			padding-left: 0px;
			li {
				display: inline-block;

				.archive_list_article_link{
					font-size: $fss*1.3;	
					display: block;
					&:hover{
						text-decoration: none;
						color: $teal;
					}
				}
				time {
					font-size: $fss*0.85;
				}
				.tag_list_link{
					font-size: $fss*0.85;
					&:hover{
						color: $flat-pink;
					}
				}
			}
		}
		.all-posts {
			margin-top: 15px;
			a:hover {
				text-decoration: none;
				color: $flat-pink;
			}
		}
	}
}
.resume {
	font-size: $fss*1.3;
	text-decoration: none;
	font-family: $clavo;
	color: $teal;
	.titles {
		font-size: $fss*1.5;
		color: $l-blue-black;
		float: left;
	}
	.dates {
		color: $l-blue-black;
		float: right;
	}
}
