/** --- Color --- **/

$black: #343434;
$m-black: #3B383E;
$l-black: #535454;

$white: #FFFFFF;
$l-blue-black: #34495E;
$black-gray: #3B4552;

$l-red: #D24D57;
$m-red: #BD0041;
$d-red: #85002E;

$l-green: #71C8B9;
$m-green: #379381;
$elaichi: #68C3A3;
$teal: #038D98;

$green-blue: #5e98a3;

$l-blue: #52B5F2;
$m-blue: #2B7CB2; 
$d-blue: #2D61A6;
$twitter-blue: #55ACEE;
$fb-blue: #3a5795;

$l-gray: #f4f5f6;
$m-gray: #d9d9d9;
$d-gray: #c4c2c4;
$steel-gray: #98a1ac;
$d-steel-gray: #6C7A89;

$gray-black: #495F75;

$l-brown: #D9CEC7;
$m-brown: #A6998F;
$d-brown: #594F4C;

$maroon: #59273A;


$flat-pink: #D2527F;
$bright-pink: #F62459;

$l-orange: #F8BBA5;
$m-orange: #FF9872;
$d-orange: #F2784B;

/*** Complementary colors ***/

$c-pink: #A65362;
$c-pink-purple: #734C61;

$c-blue-black: #485373;
$c-l-pink-purple: #85698C;


$brandon: "brandon-grotesque", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$myriad: "myriad-pro", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$proxima-c: "proxima-nova-sc-osf", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$clavo: "clavo", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$fss: 16px;

/* -- General -- */ 

$text-shadow: 0px 1px $l-gray;
$border-radius: 3px;




